* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// font-size por defecto = 16px
/*
    REM
    html = 10px => 1rem
    section = 16px = 1.6rem
    span = 29px = 2.9rem
    h1 = 85px = 8.5rem
*/

html {
    /* 
        16px = 100%
        10px = ?
         
    */
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}