.nav {
    &__welcome {
        background-color: #f4f4f4;
        &__container {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            padding: 1rem 0;
            align-items: center;
            &--msj{
                color: rgb(51, 51, 51);
            }
            &__access{
                &--account {
                    color: rgb(102, 102, 102 );
                    i {
                        margin-right: .5rem;
                    }
                }
                select {
                    border: none;
                    outline: 0;
                    background-color: #f4f4f4;
                    color: rgb(102, 102, 102 );
                    margin-left: 1rem;
                }
            }
        }
    }
    &__menu {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__right {
                display: flex;
                align-items: center;
                &__box {
                    display: flex;
                    &__item {
                        margin-left: 1rem;
                        &--link {
                            color: rgb(51,51,51);
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            font-weight: 700;
                            // border: .1rem solid;
                            padding: 1.1rem 1.5rem .5rem 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

