.nav {
    &__welcome {
        background-color: #f4f4f4;
        &__container {
            display: flex;
            justify-content: space-between;
            font-size: 1.4rem;
            padding: 1rem 0;
            align-items: center;
            &--msj{
                color: $color-secondary;
            }
            &__access{
                &--account {
                    color: $color-secondary-ligth;
                    i {
                        margin-right: .5rem;
                    }
                }
                select {
                    border: none;
                    outline: 0;
                    background-color: #f4f4f4;
                    color: $color-secondary-ligth;
                    margin-left: 1rem;
                }
            }
        }
    }
    &__menu {
        &__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &__right {
                display: flex;
                align-items: center;
                &__box {
                    display: flex;
                    &__item {
                        margin-left: 1rem;
                        &--link {
                            color: $color-secondary;
                            font-size: 1.5rem;
                            text-transform: uppercase;
                            font-weight: 700;
                            // border: .1rem solid;
                            padding: 1.1rem 1.5rem .5rem 1.5rem;
                        }
                    }
                }
                &__cart {
                    background-color: $color-primary;
                    color: white;
                    padding: 1rem 3rem;
                    text-align: center;
                    &__box {
                        position: relative;
                        i {
                            font-size: 2.5rem;
                        }
                        span {
                            width: 2.5rem;
                            height: 2.5rem;
                            background-color: $color-secondary;
                            font-size: 1.6rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            font-weight: 700;
                            padding-top: .35rem;
                            position: absolute;
                            top: -.6rem;
                            right: -1.2rem;
                        }
                    }
                    &--title {
                        margin-top: 1rem;
                        margin-bottom: .5rem;
                    }
                    &--title,
                    &--price {
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

