/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

body {
    margin: 0;
}
/* clases */
.contenedor {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* NAV */
nav {
    /* background-color: peru; */
    /* border: 1px solid; */
    /* margin: 0 0 0 0; */
    /* background-color: blue; */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding: 20px 0 20px 0; */
    /* padding: 20px 0; */
}

nav div {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 60%;
    margin-left: auto;
    margin-right: auto; */
}

nav div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav div ul {
    display: flex;
}

nav div ul li{
    margin: 0 0 0 10px;
}

nav div ul li a {
    color: black;
    font-size: 22px;
    /* background-color: peru; */
    padding: 0 10px 0 10px;
}

/* HEADER */
header {
    background-image: url(../img/portada.jpg);
    background-position: center;
    background-size: cover;
    padding: 150px 0;
}
/* DONT REPEAT YOURSELF */
header div h1{
    margin: 0;
    color: #ff6818;
    font-size: 88px;
    font-family: 'Oswald', sans-serif;
    line-height: 98px;
}

header div p{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 18px;
    color: rgb(85, 92, 102);
    margin-top: 40px;
    margin-bottom: 40px;
}

header div form{
    display: flex;
}

header div form input {
    font-size: 18px;
    border: none;
    outline: 0;
    padding: 12px 10px;
}

header div form button{
    border: none;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #fe6415;
    color: white;
    padding: 12px 40px;
    cursor: pointer;
}

/* SECTION */
section {
    padding: 50px 0;
}

section div {
    display: flex;
}

section div article {
    padding: 20px 35px 40px 35px;
    color: white;
}

section div article h2,
section div article h3{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

section div article h2{
    font-size: 60px;
}

section div article h3{
    font-size: 24px;
    font-weight: 400;
}
section div article p{
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
}

#article1{
    background-color: #ff6818;
}
#article2{
    background-color: #f43701;
}
#article3{
    background-color: #292d31;
}
#article4{
    background-color: #555c66;
}

section div article div{
    width: 64px;
    height: 64px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin-top: 35px;
}

#icono1{
    color: #ff6818;
}
#icono2{
    color: #f43701;
}
#icono3{
    color: #292d31;
}
#icono4{
    color: #555c66;
}

/* ⚡⚡ RESPONSIVE DESIGN ⚡⚡ */

@media only screen and (max-width: 1400px){
    .contenedor{
        width: 80%;
    }
}

@media only screen and (max-width: 1200px){
    .contenedor{
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
    }   
}