body {
    margin: 0;
}
nav {
    /* background-color: peru; */
}

nav div {
    /* background-color: lightgreen; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

nav div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav div ul {
    display: flex;
}

nav div ul li{
    margin: 0 0 0 20px;
}

nav div ul li a {
    color: black;
    font-size: 22px;
    /* background-color: peru; */
    padding: 0 10px 0 10px;
}