$color-primary: rgb(0, 132, 197);
$color-secondary: rgb(51, 51, 51);
$color-secondary-ligth: rgb(102, 102, 102);

.container {
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    // background-color: peru;
    @media only screen and (max-width: $bp-extraLarge){
        max-width: 96rem;
    }
    @media only screen and (max-width: $bp-large){
        max-width: 72rem;
    }
    @media only screen and (max-width: $bp-medium){
        max-width: 54rem;
    }
    @media only screen and (max-width: $bp-small){
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
}
.btn {
    font-size: 1.8rem;
    color: white;
    padding: 1.2rem 1.2rem .8rem 1.2rem;
    border-radius: .5rem;
}
.btn-warning {
    background-color: #f1c40f;
}
.btn-success {
    background-color: #1abc9c;
}
.btn-danger {
    background-color: #e74c3c;
}
.text-right{
    text-align: right;
}

.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.ml-3 {
    margin-left: 3rem;
}
.ml-4 {
    margin-left: 4rem;
}
.ml-5 {
    margin-left: 5rem;
}
.ml-6 {
    margin-left: 6rem;
}
.ml-7 {
    margin-left: 7rem;
}
.ml-8 {
    margin-left: 8rem;
}
.ml-9 {
    margin-left: 9rem;
}
.ml-10 {
    margin-left: 10rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mt-10 {
    margin-top: 10rem;
}